.container{
    text-align: center;

}
table{
    margin: center;
    margin-top: 23px;
}
table{
    margin: auto;
}

input{
    font-size: 33px;
border: 5px solid rgb(0, 0, 0) ;
border-radius: 21px;
}
button{
    border-radius: 21px;
    color: rgb(221, 189, 10);
    font-size: 23px;
    background: rgb(13, 15, 4);
    width: 45px;
}
